@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    scroll-behavior: smooth;
    font-family: system-ui;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: cursive;
    font-size: clamp(10px,30px,40px);
}

input {
    min-height: 20px;
}

.container {
    max-width: 100%;
    min-height: 100vh;
    background: rgb(1, 122, 248);
    background: linear-gradient(0deg, rgba(1, 122, 248, 1) 0%, rgba(152, 216, 251, 1) 50%, rgba(0, 151, 240, 1) 100%);
}

.toolsContainer {
    max-width: 100%;
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topBar {
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar {
    z-index: 3;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color: #000000;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar .scrollLink {
    width: 220px;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: none;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.navbar .scrollLink:hover {
    scale: 1.01;
}

.menu-icon {
    z-index: 9999999;
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.toolBig {
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 3vh;
    margin: 10px;
}

.toolSmall {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 3vh;
    margin: 10px;
}

@media screen and (max-width: 1024px) {
    .navbar {
        transform: translateX(-240px);
    }

    .menu-icon {
        display: block;
    }

    .navbar.active {
        transform: translateX(0);
    }
}
@media (max-width: 1080px) {
    #input_text, #output_text {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    #header {
        position: fixed;
    }

    .toolsContainer {
        margin-left: 0px;
    }
}
@media (max-width: 1159px) {
    .toolSmall {
        width: 40%;
    }
}
@media (max-width: 920px) {
    .toolSmall {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .toolSmall {
        width: 80%;
    }
}