.clockInput {
  width: 30px;
  height: 30px;
  text-align: center;
}

#timer {
  font-size: 40px;
}

#display {
  font-size: 40px;
}

#timerSection {
  display: none;
}

#headingTimer {
  cursor: pointer;
  text-decoration: none;
  color: #444444;
  font-size: 30px;
  margin-bottom: 10px;
}

#headingStopwatch {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid blue;
  font-size: 30px;
  margin-bottom: 10px;
}

.invisible-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}


#title {
  font-weight: bold;
}

#closeButton {
  float: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#content {
  padding: 10px;
}

#clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.hour-hand,
.minute-hand,
.second-hand {
  background-color: #000;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transition-timing-function: linear;
}

.hour-hand {
  width: 6px;
  height: 100px;
}

.minute-hand {
  width: 4px;
  height: 120px;
}

.second-hand {
  width: 2px;
  height: 150px;
  background-color: red;
}

#ClockPopup {
  z-index: 99999;
  display: none;
  position: fixed;
  top: 100px;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  user-select: none;
  border-radius: 20px;
}

#ClockPopup .header {
  padding: 8px;
  cursor: move;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
  color: transparent;
  cursor: move;
  border-radius: 20px 20px 0 0;
}

#ClockPopup .content {
  padding: 16px;
}


/*Timer CSS */

#timer-display {
  font-size: 60px;
  cursor: pointer;
  margin-bottom: 20px;
}

#input-menu {
  display: none;
  margin-bottom: 20px;
}

.input-field {
  width: 60px;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
}



/* Stoppuhr CSS */

#stopwatch {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 340px) {
  .clock {
    width: 250px;
    height: 250px;
  }
}